/* Функции */
@function rem($size){
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

$colorbackground:#333a42;

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: rem(18px);
    line-height: rem(32px); //2rem
    background-color: #f1ece9;
}

h1,
h2,
h3 {
    font-size: rem(24px);
    line-height: rem(32px);
    font-weight: 500;
}

h4{
    font-weight: bold;
}
a {
    color: #d7443e;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: #d7443e;
    }
}

/* Стили разделов сайта */
header {
    color: #fff;
    background: $colorbackground;
    padding-top: rem(39px);
    nav {
        li {
            list-style: none;
            display: inline;
            &:not(:last-child) {
                padding-right: rem(32px);
            }
            a {
                color: inherit;
            }
        }
        
    }
}
    

#about {
    background: $colorbackground;
    color: #fff;
    padding: rem(121px) 0 rem(80px) 0;
    p {
        font-size: 1.5rem;
            line-height: rem(32px);
            font-weight: 500;
    }
    img {
        height: rem(208px);
        width: rem(208px);
        border-radius: 50%;
    }
}


#projects {
    .wrapper {
        padding: rem(49px) 0;
        border-bottom: 1px solid #a6a5a1;
    }

    figure {
        width: rem(620px);
        img {
            height: rem(288px);
        }
        figcaption {
            .counter {
                text-align: right;
            }
        }
    }
}

#feedback {
    .wrapper {
        border-bottom: 1px solid #a6a5a1;
        padding: rem(21px) 0 rem(110px) 0;
    }
    h2 {
        padding-bottom: rem(57px);
    }
    img {
        width: inherit;
        border-radius: 50%;
    }
    h4{
        padding-bottom: rem(8px);
    }
    
}

#contacts {
    padding: rem(37px) 0 rem(102px) 0;
    p {
        font-size: rem(24px);
            line-height: rem(32px);
            font-weight: 500;
    }
    img {
        width: rem(32px);
        padding: rem(57px) 0;
        margin-right: rem(48px);
    }
    h2 {
        padding: rem(37px) 0;
    }
    input {
        width: 100%;
        background: #f1ece9;
        border: 1px solid black;
        margin-bottom: rem(13px);
        height: rem(32px);
    }
    textarea {
        width: 100%;
        background: #f1ece9;
        border: 1px solid black;
        height: rem(144px);
    }
    input[type="submit"] {
        background: #333a42;
        color: white;
        margin-top: rem(34px);
    }
}

footer {
    background: $colorbackground;
    text-align: center;
    height: rem(52px);
    padding: calc(rem(20px) / 2) 0;
    color: white;
}
