/* Функции */
@function rem($size){
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.125rem;
    line-height: rem(32px); //2rem
    background-color: #f1ece9;
}

h1,
h2,
h3 {
    font-size: rem(24px);
    line-height: 2rem;
    font-weight: 500;
}

h4{
    font-weight: bold;
}
a {
    color: #d7443e;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: #d7443e;
    }
}

/* Стили разделов сайта */
header {
    color: #fff;
    background: #333a42;
    padding-top: 2.438rem;
    nav {
        li {
            list-style: none;
            display: inline;
            &:not(:last-child) {
                padding-right: 2rem;
            }
            a {
                color: inherit;
            }
        }
        
    }
}
    

#about {
    background: #333a42;
    color: #fff;
    padding: 7.563rem 0 5rem 0;
    p {
        font-size: 1.5rem;
            line-height: 2rem;
            font-weight: 500;
    }
    img {
        height: 13rem;
        width: 13rem;
        border-radius: 50%;
    }
}


#projects {
    .wrapper {
        padding: 3.063rem 0;
        border-bottom: 1px solid #a6a5a1;
    }

    figure {
        width: 38.75rem;
        img {
            height: 18rem;
        }
        figcaption {
            .counter {
                text-align: right;
            }
        }
    }
}

#feedback {
    .wrapper {
        border-bottom: 1px solid #a6a5a1;
        padding: 1.313rem 0 6.875rem 0;
    }
    h2 {
        padding-bottom: 3.563rem;
    }
    img {
        width: inherit;
        border-radius: 50%;
    }
    h4{
        padding-bottom: 0.5rem;
    }
    
}

#contacts {
    padding: 2.313rem 0 6.375rem 0;
    p {
        font-size: 1.5rem;
            line-height: 2rem;
            font-weight: 500;
    }
    img {
        width: 2rem;
        padding: 3.563rem 0;
        margin-right: 3rem;
    }
    h2 {
        padding: 2.313rem 0;
    }
    input {
        width: 100%;
        background: #f1ece9;
        border: 1px solid black;
        margin-bottom: 0.8125rem;
        height: 2rem;
    }
    textarea {
        width: 100%;
        background: #f1ece9;
        border: 1px solid black;
        height: 9rem;
    }
    input[type="submit"] {
        background: #333a42;
        color: white;
        margin-top: 2.125rem;
    }
}

footer {
    background: #333a42;
    text-align: center;
    height: 3.25rem;
    padding: calc(1.25rem / 2) 0;
    color: white;
}
