//Переменные
$colorbackground:#333a42;
$breakpoint-sm: 576px;
body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
    line-height: 32px; //2rem
    background-color: #f1ece9;
    @media (max-width: $breakpoint-sm) {
        font-size: 10px;
        line-height: 12px;
    }
}

h1,
h2,
h3 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    @media (max-width: $breakpoint-sm) {
        font-size: 14px;
        line-height: 16px;
        padding-left: 14px;
    }
}

h4 {
    font-weight: bold;
}

a {
    color: #d7443e;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: #d7443e;
    }
}

/* Стили разделов сайта */

header {
    color: #fff;
    background: $colorbackground;
    padding-top: 39px;
    @media (max-width: $breakpoint-sm) {
        padding-top: 17px;
    }
    nav {
        @media (max-width: $breakpoint-sm) {
            display: none;
        }
        li {
            list-style: none;
            display: inline;
            &:not(:last-child) {
                padding-right: 32px;
            }
            a {
                color: inherit;
            }
        }
    }
}

#about {
    background: $colorbackground;
    color: #fff;
    padding: 121px 0 80px 0;
    @media (max-width: $breakpoint-sm) {
        padding-top: 31px;
        padding-bottom: 32px;
    }
    p {
        font-size: 24px;
        line-height: 32px;
        font-weight: 500;
        @media (max-width: $breakpoint-sm) {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 16px;
            padding: 0 14px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    img {
        height: 208px;
        width: 208px;
        border-radius: 50%;
        @media (max-width: $breakpoint-sm) {
            height: 128px;
            width: 128px;
            margin: 0 auto 16px auto;
            display: block;
        }
    }
}

#projects {
    .wrapper {
        padding: 49px 0;
        border-bottom: 1px solid #a6a5a1;
        @media (max-width: $breakpoint-sm) {
            padding: 16px 0 30px 0;
        }
    }
    h2 {
        @media (max-width: $breakpoint-sm) {
            padding-bottom: 32px;
        }
    }
    figure {
        width: 620px;
        @media (max-width: $breakpoint-sm) {
            width: 100%;
        }
        img {
            height: 288px;
            @media (max-width: $breakpoint-sm) {
                height: auto;
                padding: 0 14px 16px 14px;
            }
        }
        figcaption {
            @media (max-width: $breakpoint-sm) {
                padding: 0 0 0 14px;
            }
            .counter {
                text-align: right;
            }
            h3 {
                @media (max-width: $breakpoint-sm) {
                    padding: 0 0 5px 0;
                }
            }
        }
    }
}

#feedback {
    .wrapper {
        border-bottom: 1px solid #a6a5a1;
        padding: 21px 0 110px 0;
    }
    h2 {
        padding-bottom: 57px;
    }
    img {
        width: inherit;
        border-radius: 50%;
    }
    h4 {
        padding-bottom: 8px;
    }
    p {
        @media (max-width: $breakpoint-sm) {
            font-size:10px;
        }
    }
}

#contacts {
    padding: 37px 0 102px 0;
    @media (max-width: $breakpoint-sm) {
        padding: 14px 14px 52px 14px;
    }
    p {
        font-size: 24px;
        line-height: 32px;
        font-weight: 500;
        @media (max-width: $breakpoint-sm) {
            font-size:14px;
            line-height: 16px;
        }
    }
    img {
        width: 32px;
        padding: 57px 0;
        margin-right: 48px;
        @media (max-width: $breakpoint-sm) {
            padding: 26px 0;
        }
    }
    .socials{
        @media (max-width: $breakpoint-sm) {
            margin: 0px auto;
            display: table;
        }
    }
    h2 {
        padding: 37px 0;
        @media (max-width: $breakpoint-sm) {
            padding: 0 0 16px;
            font-size: 14px;
        }
    }
    input {
        width: 100%;
        background: #f1ece9;
        border: 1px solid black;
        margin-bottom: 13px;
        height: 32px;
        @media (max-width: $breakpoint-sm) {
            height: 16px;
        }
    }
    textarea {
        width: 100%;
        background: #f1ece9;
        border: 1px solid black;
        height: 144px;
        @media (max-width: $breakpoint-sm) {
            height: 48px;
        }
    }
    input[type="submit"] {
        background: #333a42;
        color: white;
        margin-top: 34px;
        @media (max-width: $breakpoint-sm) {
           height: 25px;
        }
    }
}

footer {
    background: $colorbackground;
    text-align: center;
    height: 52px;
    padding: 10px 0;
    color: white;
    @media (max-width: $breakpoint-sm) {
        height: 24px;
        padding: 5px 29px 0 0;
        text-align: right;
    }
}