@charset "UTF-8";
body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 18px;
  line-height: 32px;
  background-color: #f1ece9;
}

@media (max-width: 576px) {
  body {
    font-size: 10px;
    line-height: 12px;
  }
}

h1,
h2,
h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}

@media (max-width: 576px) {
  h1,
  h2,
  h3 {
    font-size: 14px;
    line-height: 16px;
    padding-left: 14px;
  }
}

h4 {
  font-weight: bold;
}

a {
  color: #d7443e;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #d7443e;
}

/* Стили разделов сайта */
header {
  color: #fff;
  background: #333a42;
  padding-top: 39px;
}

@media (max-width: 576px) {
  header {
    padding-top: 17px;
  }
}

@media (max-width: 576px) {
  header nav {
    display: none;
  }
}

header nav li {
  list-style: none;
  display: inline;
}

header nav li:not(:last-child) {
  padding-right: 32px;
}

header nav li a {
  color: inherit;
}

#about {
  background: #333a42;
  color: #fff;
  padding: 121px 0 80px 0;
}

@media (max-width: 576px) {
  #about {
    padding-top: 31px;
    padding-bottom: 32px;
  }
}

#about p {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}

@media (max-width: 576px) {
  #about p {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 16px;
    padding: 0 14px;
  }
  #about p:last-child {
    margin-bottom: 0;
  }
}

#about img {
  height: 208px;
  width: 208px;
  border-radius: 50%;
}

@media (max-width: 576px) {
  #about img {
    height: 128px;
    width: 128px;
    margin: 0 auto 16px auto;
    display: block;
  }
}

#projects .wrapper {
  padding: 49px 0;
  border-bottom: 1px solid #a6a5a1;
}

@media (max-width: 576px) {
  #projects .wrapper {
    padding: 16px 0 30px 0;
  }
}

@media (max-width: 576px) {
  #projects h2 {
    padding-bottom: 32px;
  }
}

#projects figure {
  width: 620px;
}

@media (max-width: 576px) {
  #projects figure {
    width: 100%;
  }
}

#projects figure img {
  height: 288px;
}

@media (max-width: 576px) {
  #projects figure img {
    height: auto;
    padding: 0 14px 16px 14px;
  }
}

@media (max-width: 576px) {
  #projects figure figcaption {
    padding: 0 0 0 14px;
  }
}

#projects figure figcaption .counter {
  text-align: right;
}

#projects figure figcaption h3 a {
  color: black;
}

@media (max-width: 576px) {
  #projects figure figcaption h3 {
    padding: 0 0 5px 0;
  }
}

#feedback .wrapper {
  border-bottom: 1px solid #a6a5a1;
  padding: 21px 0 110px 0;
}

#feedback h2 {
  padding-bottom: 57px;
}

#feedback img {
  width: inherit;
  border-radius: 50%;
}

#feedback h4 {
  padding-bottom: 8px;
}

@media (max-width: 576px) {
  #feedback p {
    font-size: 10px;
  }
}

#contacts {
  padding: 37px 0 102px 0;
}

@media (max-width: 576px) {
  #contacts {
    padding: 14px 14px 52px 14px;
  }
}

#contacts p {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}

@media (max-width: 576px) {
  #contacts p {
    font-size: 14px;
    line-height: 16px;
  }
}

#contacts img {
  width: 32px;
  padding: 57px 0;
  margin-right: 48px;
}

@media (max-width: 576px) {
  #contacts img {
    padding: 26px 0;
  }
}

@media (max-width: 576px) {
  #contacts .socials {
    margin: 0px auto;
    display: table;
  }
}

#contacts h2 {
  padding: 37px 0;
}

@media (max-width: 576px) {
  #contacts h2 {
    padding: 0 0 16px;
    font-size: 14px;
  }
}

#contacts input {
  width: 100%;
  background: #f1ece9;
  border: 1px solid black;
  margin-bottom: 13px;
  height: 32px;
}

@media (max-width: 576px) {
  #contacts input {
    height: 16px;
  }
}

#contacts textarea {
  width: 100%;
  background: #f1ece9;
  border: 1px solid black;
  height: 144px;
}

@media (max-width: 576px) {
  #contacts textarea {
    height: 48px;
  }
}

#contacts input[type="submit"] {
  background: #333a42;
  color: white;
  margin-top: 34px;
}

@media (max-width: 576px) {
  #contacts input[type="submit"] {
    height: 25px;
  }
}

footer {
  background: #333a42;
  text-align: center;
  height: 52px;
  padding: 10px 0;
  color: white;
}

@media (max-width: 576px) {
  footer {
    height: 24px;
    padding: 5px 29px 0 0;
    text-align: right;
  }
}

.owl-carousel .owl-nav .owl-prev {
  float: left;
  display: inline-block;
}

.owl-carousel .owl-nav .owl-prev:before {
  content: url(http://createasite.ru/wp-content/uploads/2018/08/left.png);
  margin-right: 10px;
}

.owl-carousel .owl-nav .owl-next {
  float: right;
  display: inline-block;
}

.owl-carousel .owl-nav .owl-next:after {
  content: url(http://createasite.ru/wp-content/uploads/2018/08/right.png);
  margin-right: 10px;
}
/*# sourceMappingURL=style.css.map */